html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: #1b3637;
}
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 30px;
}
h1 {
  margin: 0;
  padding: 20px;
  color: white;
  font-size: 36px;
  letter-spacing: 3px;
}
.clear-btn {
  padding: 10px 20px;
  font-size: 16px;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

#grid-container {
  display: grid;
  /* grid-template-rows: repeat(16, minmax(auto, 1fr));
  grid-template-columns: repeat(16, minmax(10px, 40px)); */
  justify-content: center;
  min-width: 960px;
  outline: solid;
  overflow: hidden;
  height: 600px;
}
.new {
  /* border: 2px solid black; */
  outline: 1px solid;
  cursor: pointer;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.btn-and-input {
  display: flex;
  gap: 20px;
}
input {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
}
